@model List<TemaGiydirme.Models.Product>

<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    <div class="related-products-carousel">
        @foreach (var item in Model)
        {
            <div class="single-product">
                <div class="product-f-image">
                    <img src="/img/product-1.jpg" alt="">
                    <div class="product-hover">
                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="@Url.Action("Detail","Home",new { id=item.ProductID})" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                <h2><a href="@Url.Action("Detail","Home",new { id=item.ProductID})">@item.ProductName</a></h2>
                <div class="product-carousel-price">
                    <ins>@($"{item.UnitPrice:c2}")</ins> <del>@($"{item.UnitPrice * 1.12m:c2}")</del>
                </div>
            </div>
        }
        
    </div>
</div>
