@using TemaGiydirme.Models
@model List<Product>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutGenel.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    <img src="/img/product-2.jpg" alt="">
                </div>
                <h2>
                    <a href="@Url.Action("Detail", "Home", new { id = item.ProductID})">
                        @item.ProductName
                    </a>
                </h2>
                <div class="product-carousel-price">
                    <ins>@($"{item.UnitPrice:c2}")</ins> <del>@($"{item.UnitPrice * 1.12m:c2}")</del>
                </div>

                <div class="product-option-shop">
                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Sepete Ekle</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="product-pagination text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="@Url.Action("Shop","Home",new { page=ViewBag.Suan-1})" aria-label="Previous" id="pageprevius">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= (int)ViewBag.ToplamSayfa; i++)
                    {
                        <li>
                            <a href="@Url.Action("Shop","Home",new { page=i})">
                                @i
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Shop","Home",new { page=ViewBag.Suan+1})" aria-label="Next" id="pagenext">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    var suan =@ViewBag.Suan;
    var toplam =@ViewBag.ToplamSayfa;
    if (suan == 1)
    {
        $("#pageprevius").removeAttr("href");
    }
    if (suan == toplam)
        $("#pagenext").removeAttr("href");
    </script>
}
